@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100%;
}
.logotext {
    font-family: 'Poppins', sans-serif;
}

.blue1 {
    background-color: #179BD7;
}
.btnColor {
    background-color: #ffd43b;
}
